.block-editor-page {
    height: 100% !important;
    overflow: hidden !important;
}
.uip-content-frame.uip-fullscreen-mode {
    border-radius: 0 !important;
}
.uip-menu-collapse,
a[href="admin.php?page=hmwp_settings"],
a[href="admin.php?page=hide-wp-login"] {
    display: none !important;
}
/* #wp-admin-bar-attr,
#wp-admin-bar-updraft_admin_node,
#wp-admin-bar-wp-rocket,
#wp-admin-bar-itsec_admin_bar_menu,
#wp-admin-bar-autoptimize,
#wp-admin-bar-rank-math,
#wp-admin-bar-comments {
    display: none !important; */
}
#wp-admin-bar-attr {
    display: none !important;
}
.search_close-btn {
    top: 15px !important;
    right: -12px !important;
}
a[href="admin.php?page=itsec-dashboard"] .dashicons-before,
a[href*="options-general.php?page=wprocket"] .dashicons-before {
    position: relative !important;
    bottom: 2.5px !important;
    width: 13px !important;
    height: 13px !important;
}
@media screen and (max-width: 989px) {
    a[href="admin.php?page=itsec-dashboard"] .dashicons-before,
    a[href*="options-general.php?page=wprocket"] .dashicons-before {
        width: 16px !important;
        height: 16px !important;
    }
}
a[href="admin.php?page=itsec-dashboard"] .dashicons-before::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath stroke='%23cecece' stroke-width='2' d='M5 7.693c0-1.565 0-2.347.451-2.9.451-.552 1.218-.708 2.751-1.02l2.601-.53c.596-.12.895-.181 1.197-.181.302 0 .6.06 1.197.182l2.6.53c1.534.311 2.3.467 2.752 1.02C19 5.346 19 6.128 19 7.693v1.024c0 2.846 0 4.269-.464 5.571a8.212 8.212 0 0 1-.278.68c-.582 1.255-1.58 2.27-3.573 4.3-1.18 1.2-1.77 1.8-2.497 1.87a2.01 2.01 0 0 1-.376 0c-.727-.07-1.317-.67-2.497-1.87-1.994-2.03-2.99-3.045-3.573-4.3a7.987 7.987 0 0 1-.278-.68C5 12.986 5 11.563 5 8.718V7.692z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='currentColor' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") !important;
    width: 100% !important;
    height: 100% !important;
}
a[href*="options-general.php?page=wprocket"] .dashicons-before::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960'%3E%3Cpath fill='%23cecece' d='M418-340q24 24 62 23.5t56-27.5l169-253q9-14-2.5-25.5T677-625L424-456q-27 18-28.5 55t22.5 61Zm62-460q36 0 71 6t68 19q16 6 34 22.5t10 31.5q-8 15-36 20t-45-1q-25-9-50.5-13.5T480-720q-133 0-226.5 93.5T160-400q0 42 11.5 83t32.5 77h552q23-38 33.5-79t10.5-85q0-26-4.5-51T782-504q-6-17-2-33t18-27q13-10 28.5-6t21.5 18q15 35 23 71.5t9 74.5q1 57-13 109t-41 99q-11 18-30 28t-40 10H204q-21 0-40-10t-30-28q-26-45-40-95.5T80-400q0-83 31.5-155.5t86-127Q252-737 325-768.5T480-800Zm7 313Z'/%3E%3C/svg%3E") !important;
    width: 100% !important;
    height: 100% !important;
}

#uip-e5c99a32-e68a-c99d-985e-bef70d127a31 .uip-offcanvas-panel {
    padding: var(--uip-padding-s) !important;
}
#uip-e5c99a32-e68a-c99d-985e-bef70d127a31 .uip-offcanvas-panel > div:nth-child(1) > span {
    padding-bottom: 2px !important;
}
#uip-a7f0f1d7-1731-9989-92d5-c9da6870e40c > div > span,
#uip-b318b691-fbff-1e8f-5d73-735ca33b3d37 > div > span {
    position: relative;
    bottom: 1px;
    left: 3px;
}

input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

#uip-cf39bc74-3367-1eda-70d1-3b1c343ac0f7 .uip-dropdown-container > div > div:nth-child(2),
#uip-cf39bc74-3367-1eda-70d1-3b1c343ac0f7 .uip-dropdown-container > div > div:nth-child(4) {
    display: none !important;
}

#welcome-panel, #beacon-container {
    display: none !important;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--uip-text-color-emphasis) !important;
}