---
import Masonry from "../../components/works/Masonry.jsx";
import Sidebar from "../../components/Sidebar.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { singlePageQuery, portfolioQuery } from "../../lib/api.js";

const { pages } = await singlePageQuery( 'works' );
const page = pages.nodes[0];

const { portfolio } = await portfolioQuery();
const works = portfolio.nodes;

Astro.response.headers.set('Cache-Control', 'max-age=600, must-revalidate');
---

<MainLayout title={`${page?.title} – CROSS`}>
    <div class="page__wrapper lm">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ol>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="is-active">
                    <span set:html={page?.title}></span>
                </li>
            </ol>
        </nav>
        <section class="page main">
            <article class="single__contents" data-dir="ltr">
                <masonry-grid>
                    <template shadowrootmode="closed">
                        <Masonry data={works} client:only="react" />
                    </template>
                </masonry-grid>
            </article>
            <footer class="single__footer"></footer>
        </section>
    </div>
    <Sidebar show={false} />
</MainLayout>
