---
import Sidebar from "../../../../components/Sidebar.astro";
import MainLayout from "../../../../layouts/MainLayout.astro";
import { allTagsQuery } from "../../../../lib/api.js";

const { tags } = await allTagsQuery();

export const prerender = false;

Astro.response.headers.set('Cache-Control', 'max-age=600, must-revalidate');
---

<MainLayout title="Tags – CROSS">
    <div class="terms__wrapper lm">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ol>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/blog/archive/">Archive</a>
                </li>
                <li class="is-active">
                    <span>Tags</span>
                </li>
            </ol>
        </nav>
        <header class="list__header">
            <h5 class="list__header--title capitalize h5">Tags</h5>
        </header>
        <div class="terms main">
            <section class="taxo terms__list">
                {
                    tags.nodes.map((tag) => (
                        <span class="tag">
                            <a href={`/blog/archive/tags/${tag.slug}`} class="is-tags taxo__link" data-dir="ltr">
                                <span class="taxo__text">{tag.name}</span>&nbsp;<span class="taxo__num" dir="auto">{tag.count}</span>
                            </a>
                        </span>
                    ))
                }
            </section>
        </div>
    </div>
    <Sidebar />
</MainLayout>
