---
import Bookshelf from "../../../components/bookshelf/Bookshelf.jsx";
import AboutSelector from "../../../components/AboutSelector.jsx";
import Sidebar from "../../../components/Sidebar.astro";
import MainLayout from "../../../layouts/MainLayout.astro";
import Icon from "../../../components/Icon.astro";

// export const prerender = false;

Astro.response.headers.set('Cache-Control','max-age=600, must-revalidate');

---

<MainLayout title='Bookshelf – CROSS'>
    <div class="page__wrapper lmr">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ol>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <AboutSelector server:defer client:load />
                    <Icon name="caret-down" size={12} />
                </li>
                <li class="is-active">
                    <span>Bookshelf</span>
                </li>
            </ol>
        </nav>
        <section class="page main">
            <div class="summary__container" data-display="block">
                <h2 class="single__title">
                    Bookshelf
                </h2>
                <Bookshelf server:defer client:load />
            </div>
        </section>
    </div>
    <Sidebar />
</MainLayout>
