---
import Sidebar from "../../../components/Sidebar.astro";
import MainLayout from "../../../layouts/MainLayout.astro";
import { allCategoriesQuery } from "../../../lib/api.js";

const { categories } = await allCategoriesQuery();

Astro.response.headers.set('Cache-Control', 'max-age=600, must-revalidate');
---

<MainLayout title="Topics – CROSS">
    <div class="terms__wrapper lm">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ol>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/archive/">Archive</a>
                </li>
                <li class="is-active">
                    <span>Topics</span>
                </li>
            </ol>
        </nav>
        <header class="list__header">
            <h5 class="list__header--title capitalize h5">Topics</h5>
        </header>
        <div class="terms main">
            <section class="taxo terms__list">
                {
                    categories.nodes.map((topic) => (
                            <span class="tag">
                            <a href={`/archive/topics/${topic.slug}`} class="is-categories taxo__link" data-dir="ltr">
                                <span class="taxo__text">{topic.name}</span>&nbsp;<span class="taxo__num" dir="auto">{topic.count}</span>
                            </a>
                        </span>
                    ))
                }
            </section>
        </div>
    </div>
    <Sidebar />
</MainLayout>
