.gsc-comment-box {
    border: none !important;
    background: transparent !important;
}
.gsc-comment-box-tabs {
    background: transparent !important;
    border: none !important;
}
.gsc-comment-box-tabs button {
    font-family: monospace !important;
    color: #F68C36 !important;
    border: none !important;
    background: transparent !important;
}
.gsc-comment-box-tabs button.color-border-primary {
    color: #D3C300 !important;
    text-decoration: underline !important;
}
.gsc-comment-box-main {
    background-color: #1b1c1b !important;
    border-radius: 6px !important;
    overflow: hidden !important;
}
.gsc-comment-box-textarea,
.gsc-comment-box-textarea-extras {
    border: none !important;
    background: transparent !important;
}
.gsc-comment-box-textarea-extras {
    border-top: 1px solid rgba(255,255,255,0.0625) !important;
}
.gsc-comment-box-preview {
    border: none !important;
}
.gsc-comment-box-markdown-hint {
    color: #fff !important;
}
.gsc-comment-box-markdown-hint:hover {
    color: #D3C300 !important;
}
.btn-primary {
    color: #F68C36 !important;
    padding: 0.25em 0.5em !important;
    border: 1px solid currentColor !important;
    border-radius: 4px !important;
    background: transparent !important;
}
.btn-primary:hover {
    color: #D3C300 !important;
    text-decoration: underline !important;
}
.link-secondary:hover {
    color: #D3C300 !important;
    text-decoration: underline !important;
}

.gsc-comment {
    background-color: #1b1c1b !important;
    border-radius: 6px !important;
    overflow: hidden !important;
}
.gsc-comment > .color-bg-primary {
    background: transparent !important;
}
.color-box-border-info {
    border-color: #F68C36 !important;
}
.gsc-comment > .color-bg-primary.color-box-border-info {
    border: none !important;
}
.gsc-social-reaction-summary-item.has-reacted {
    color: #F68C36 !important;
}
.gsc-reactions-button {
    border-color: #F68C36 !important;
    background: transparent !important;
}
.color-bg-overlay {
    background-color: #1b1c1b !important;
    border-radius: 6px !important;
    border: none !important;
    overflow: hidden !important;
}
.color-bg-overlay > .color-border-primary {
    display: none !important;
}
.gsc-reply-box {
    border: none !important;
    background: transparent !important;
    border-top: 1px solid rgba(255,255,255,0.0625) !important;
}
.gsc-reply-box > button {
    background: #000 !important;
    border: #F68C36 !important;
    box-shadow: 0 0 0 2px #F68C36 !important;
}
.gsc-comment-box-buttons .btn:not(.btn-primary) {
    background: transparent !important;
    color: #fff !important;
    border: none !important;
}
.gsc-comment-box-buttons .btn:not(.btn-primary):hover {
    color: #D3C300 !important;
    text-decoration: underline !important;
}
.gsc-comment-author-avatar:hover,
a:hover span {
    color: #D3C300 !important;
    text-decoration: underline !important;
}
.gsc-replies {
    background: transparent !important;
    border-color: rgba(255,255,255,0.0625) !important;
}
.gsc-tl-line {
    background-color: rgba(255,255,255,0.0625) !important;
}