---
import Sidebar from "../../components/Sidebar.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import StorySummary from "../../components/StorySummary.astro";
import { storiesQuery } from "../../lib/api.js";
import { format } from "date-fns";

// Define the number of posts per page
const postsPerPage = 10;
const pageNum = parseInt(Astro.params.pageNum) || 1;

// Fetch the initial page of posts
const initialData = await storiesQuery(postsPerPage);
let posts = initialData.stories.edges;
let endCursor = initialData.stories.pageInfo.endCursor;
let hasNextPage = initialData.stories.pageInfo.hasNextPage;

// If there are more pages, fetch additional posts using the endCursor
if (pageNum > 1) {
    for (let i = 1; i < pageNum; i++) {
        if (hasNextPage) {
            const data = await storiesQuery(postsPerPage, endCursor);
            posts = data.stories.edges;
            endCursor = data.stories.pageInfo.endCursor;
            hasNextPage = data.stories.pageInfo.hasNextPage;
        }
    }
}

export const prerender = false;

Astro.response.headers.set('Cache-Control', 'max-age=600, must-revalidate');
---

<MainLayout title="Stories – CROSS" description="Dive into a world of imagination with CROSS's eclectic collection of one-shots, original tales, and fanfiction. From thrilling adventures to heartfelt narratives, there's a story for every reader to explore.">
    <div class="list__main lm">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ol>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="is-active">
                    <span>Stories</span>
                </li>
            </ol>
        </nav>
        <div class="summary__container" data-display="block">
            {posts.map(({ node }) => (
                <StorySummary data={node}></StorySummary>
            ))}
            <hr class="hr-slash nav-hr">
            <nav class="pagination-single">
                {pageNum > 1 && (
                    <a href={pageNum - 1 === 1 ? '/stories' : `/stories/page/${pageNum - 1}`} class="pagination-single__left">
                        <div class="pagination-single__icon">
                            <svg class="icon" width="25" height="25" role="img">
                                <use href="#icon-nav-left"></use>
                            </svg>
                        </div>
                        <div class="pagination-single__left-title">Previous Page</div>
                    </a>
                )}
                <div class="grow"></div>
                {hasNextPage && (
                    <a href={`/stories/page/${pageNum + 1}`} class="pagination-single__right">
                        <div class="pagination-single__right-title">Next Page</div>
                        <div class="pagination-single__icon">
                            <svg class="icon" width="25" height="25" role="img">
                                <use href="#icon-nav-right"></use>
                            </svg>
                        </div>
                    </a>
                )}
            </nav>
        </div>
    </div>
    <Sidebar />
</MainLayout>
