---
import Sidebar from "../../components/Sidebar.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import StorySummary from "../../components/StorySummary.astro";
import { getContent } from "cross:content";
import Icon from "../../components/Icon.astro";

// Define the number of posts per page
const postsPerPage = 10;
const pageNum = parseInt(Astro.params.pageNum) || 1;

// Fetch the initial page of posts
const initialData = await getContent('stories', {
    first: postsPerPage
});
let posts = initialData.stories;
let endCursor = initialData.paginate.cursor;
let hasNextPage = initialData.paginate.nextPage;

// If there are more pages, fetch additional posts using the endCursor
if (pageNum > 1) {
    for (let i = 1; i < pageNum; i++) {
        if (hasNextPage) {
            const data = await getContent('stories', {
                first: postsPerPage,
                after: endCursor
            });
            posts = data.stories;
            endCursor = data.paginate.cursor;
            hasNextPage = data.paginate.nextPage;
        }
    }
}

Astro.response.headers.set('Cache-Control', 'max-age=600, must-revalidate');
---

<MainLayout title="Stories – CROSS" description="Dive into a world of imagination with CROSS's eclectic collection of one-shots, original tales, and fanfiction. From thrilling adventures to heartfelt narratives, there's a story for every reader to explore.">
    <div class="list__main lm">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ol>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="is-active">
                    <span>Stories</span>
                </li>
            </ol>
        </nav>
        <div class="summary__container" data-display="block">
            {posts.map((story) => (
                <StorySummary data={story}></StorySummary>
            ))}
            <hr class="hr-slash nav-hr">
            <nav class="pagination-single">
                {pageNum > 1 && (
                    <a href={pageNum - 1 === 1 ? '/stories' : `/stories/page/${pageNum - 1}`} class="pagination-single__left">
                        <div class="pagination-single__icon">
                            <Icon name={'nav-left'} size={25} />
                        </div>
                        <div class="pagination-single__left-title">Previous Page</div>
                    </a>
                )}
                <div class="grow"></div>
                {hasNextPage && (
                    <a href={`/stories/page/${pageNum + 1}`} class="pagination-single__right">
                        <div class="pagination-single__right-title">Next Page</div>
                        <div class="pagination-single__icon">
                            <Icon name={'nav-right'} size={25} />
                        </div>
                    </a>
                )}
            </nav>
        </div>
    </div>
    <Sidebar />
</MainLayout>
