---
---

<div class="tw-app">
    <div class="flex flex-row items-center justify-between gap-x-4 py-1 px-4 w-[960px] h-8 -mt-8 text-lg text-white bg-[#1B1C1B]">
        <span>This is a legacy site. Please join me at <a href="https://www.digitalvoyage.gg" class="!text-[#A5B457] hover:!text-[#c7ba00]">Digital Voyage</a>.</span>
        <a href="https://www.digitalvoyage.gg/note/redesigned-rebranded">Read more &rarr;</a>
    </div>
</div>