---
import { heroQuery } from "../lib/api.js";
import Picture from "./Picture";
import { getContent } from "cross:content";
const hero = await getContent('hero');
---

<header class="header">
    <div class="site-header">
        <Picture
            alt={`about me`}
            className="banner__img"
            source={
                {
                    '(max-width: 959px)': {
                        media: hero.banner,
                        params: {
                            'width': 360,
                            'height': 196,
                            'fit': 'crop'
                        }
                    },
                    '(min-width: 960px)': {
                        media: hero.banner,
                        params: {
                            'width': 960,
                            'height': 196,
                            'fit': 'crop'
                        }
                    }
                }
            }
        />
        <div class="site-header__inner">
            <div class="site-header__contents">
                <div class="avatar__wrapper">
                    <div class="avatar">
                        <Picture
                            alt={`about me`}
                            className="about_banner_profile"
                            source={
                                {
                                    '(max-width: 959px)': {
                                        media: hero.profile.photo,
                                        params: {
                                            'width': 96,
                                            'height': 96,
                                            'fit': 'crop'
                                        }
                                    },
                                    '(min-width: 960px)': {
                                        media: hero.profile.photo,
                                        params: {
                                            'width': 128,
                                            'height': 128,
                                            'fit': 'crop'
                                        }
                                    }
                                }
                            }
                        />
                    </div>
                </div>
                <div>
                    <strong>{hero.profile.name}</strong>
                    <span>
                        <svg class="icon" width="16" height="16" role="img">
                            <use href="#icon-bluesky-alt"/>
                        </svg>
                        <a href={`https://bsky.app/profile/crossrambles.com`} target="_blank" title="Bluesky">crossrambles.com</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<style is:inline>
    .site-header {
        overflow: unset !important;
    }
    .site-header img.banner__img {
        -webkit-mask-image: -webkit-linear-gradient(to bottom, #000 0%, transparent 125%);
        mask-image: linear-gradient(to bottom, #000 0%, transparent 125%);
    }
    .site-header > .site-header__inner::after {
        display: none;
    }
    .breadcrumb {
        margin-top: calc(-196px + 1rem) !important;
        margin-bottom: calc(196px - 1rem - 36px + 78px) !important;
    }
    .site-header__contents {
        position: relative;
        display: grid !important;
        grid-template-columns: 128px 1fr;
        gap: 1rem;
        padding: 0 1rem;
        margin: 120px 0 0;
        background-image: none !important;
        -webkit-filter: drop-shadow(0 4px 4px rgba(21, 23, 21, 0.5));
        filter: drop-shadow(0 4px 4px rgba(21, 23, 21, 0.5));
    }
    .site-header__contents > .avatar__wrapper {
        position: relative;
        display: block;
    }
    .site-header__contents > .avatar__wrapper .status {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 18px;
        height: 18px;
        margin: 0.5em;
        border: 4px solid #151715;
        border-radius: 5555px;
    }
    .site-header__contents > .avatar__wrapper .status.online {
        background-color: #32a852;
    }
    .site-header__contents > .avatar__wrapper .status.away {
        background-color: #c7c924;
    }
    .site-header__contents > .avatar__wrapper .status.offline {
        background-color: #c92424;
    }
    .site-header__contents > .avatar__wrapper .status span {
        display: block;
        font-size: 7.5px;
        text-transform: uppercase;
        overflow: hidden;
        max-width: 0;
        opacity: 0;
        padding: 0;
        transition: max-width 0.25s ease-in-out, opacity 0.25s ease-in-out, padding 0.25s ease-in-out;
    }
    .site-header__contents > .avatar__wrapper .status.away span {
        color: #000;
    }
    .site-header__contents > .avatar__wrapper:hover .status span {
        max-width: 100px;
        opacity: 1;
        padding: 0 0.5em;
    }
    .site-header__contents > .avatar__wrapper > .avatar {
        display: block;
        padding: 6px;
        background-color: #151715;
        -webkit-mask-image: url('/assets/images/squircle.svg');
        mask-image: url('/assets/images/squircle.svg');
    }
    .site-header__contents > .avatar__wrapper > .avatar img {
        display: block;
        width: 100%;
        -webkit-mask-image: url('/assets/images/squircle.svg');
        mask-image: url('/assets/images/squircle.svg');
    }
    .site-header__contents > div:not(.avatar_wrapper) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
    }
    .site-header__contents > div:not(.avatar_wrapper) strong {
        font-size: 1.5rem;
    }
    .site-header__contents > div:not(.avatar_wrapper) span {
        font-size: 1rem;
        opacity: 0.75;
    }
    .site-header__contents > div:not(.avatar_wrapper) span .icon {
        margin: 0.25em 0.25em 0 0;
        float: left;
    }
    .site-header__contents > div:not(.avatar_wrapper) span a {
        color: inherit;
        text-decoration: none;
    }
    .single__contents {
        padding-bottom: 1em !important;
    }
    @media screen and (max-width: 959px) {
        .site-header__contents {
            grid-template-columns: 96px 1fr !important;
            margin: 136px 0 0 !important;
        }
        .breadcrumb {
            margin-bottom: calc(196px - 1rem - 36px + 48px) !important;
        }
        .site-header__contents > .avatar__wrapper .status {
            margin: 0.25em;
        }
    }
</style>