---
import Icon from "./Icon.astro";
import Colophon from "./SiteFooterColophon.astro";
---

<footer class="footer">
    <div class="footer__social">
        <div class="social">
            <a href="mailto:howdy@crossrambles.com" rel="me" target="_blank" title="Email" aria-label="Email">
                <Icon name={'email-duo'} size={32} />
            </a>
            <a href="https://instagram.com/crossrambles" rel="me" target="_blank" title="Instagram" aria-label="Instagram">
                <Icon name={'instagram-duo'} size={32} />
            </a>
            <a href="https://elk.zone/toot.io/@cross" rel="me" target="_blank" title="Mastodon via Elk.zone" aria-label="Mastodon">
                <Icon name={'mastodon-duo'} size={32} />
            </a>
            <a href="https://twitter.com/crossrambles" rel="me" target="_blank" title="Twitter" aria-label="Twitter">
                <Icon name={'twitter-duo'} size={32} />
            </a>
            <a href="https://bsky.app/profile/crossrambles.com" rel="me" target="_blank" title="Bluesky" aria-label="Bluesky">
                <Icon name={'bluesky-duo'} size={32} />
            </a>
            <a href="https://deviantart.com/crossrambles" rel="me" target="_blank" title="DeviantART (AI Art)" aria-label="DeviantART">
                <Icon name={'deviantart-duo'} size={32} />
            </a>
            <a href="https://youtube.com/@crossrambles" rel="me" target="_blank" title="YouTube" aria-label="YouTube">
                <Icon name={'youtube-duo'} size={32} />
            </a>
            <a href="https://buymeacoffee.com/crossrambles" rel="me" target="_blank" title="Buy me a coffee" aria-label="Buy me a coffee">
                <Icon name={'coffee-duo'} size={32} />
            </a>
            <a href="https://toot.io/@cross" rel="me" target="_blank" title="Mastodon" aria-label="Mastodon" style="display:none;"></a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropdown-trigger theme-toggle" aria-label="Select a theme">
            <Icon name={'theme'} className="icon-theme" size={32} />
            <Icon name={'theme-fallout'} className="icon-theme-fallout" size={32} />
            <Icon name={'theme-fnv'} className="icon-theme-fnv" size={32} />
        </button>
        <div class="dropdown-content">
            <small>SELECT A THEME:</small>
            <span data-theme="cross" class="dropdown-item is-active">CROSS</span>
            <span data-theme="high-contrast" class="dropdown-item">High Contrast</span>
            <span data-theme="fallout" class="dropdown-item">Fallout</span>
            <span data-theme="fnv" class="dropdown-item">New Vegas</span>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const dropdownItems = document.querySelectorAll('.dropdown-item');
                const container = document.body;

                // Function to load the theme from localStorage and set the active class
                function loadTheme() {
                    const currentTheme = localStorage.getItem('theme');
                    if (currentTheme) {
                        dropdownItems.forEach(item => {
                            if (item.getAttribute('data-theme') === currentTheme) {
                                item.classList.add('is-active');
                            } else {
                                item.classList.remove('is-active');
                            }
                        });
                    }
                }

                // Load the theme on page load
                loadTheme();

                // Handle theme selection
                dropdownItems.forEach(item => {
                    item.addEventListener('click', function() {
                        const selectedTheme = this.getAttribute('data-theme');
                        localStorage.setItem('theme', selectedTheme);

                        // Remove is-active from all items and add to the selected one
                        dropdownItems.forEach(i => i.classList.remove('is-active'));
                        this.classList.add('is-active');

                        // Update the data-theme attribute on #container
                        container.setAttribute('data-theme', selectedTheme);
                    });
                });
            });
        </script>
    </div>
    <div id="gtt" style="display: block;">
        <div class="gtt" title="Back to top">
            <Icon name={'chevron-up'} size={32} />
        </div>
    </div>
    <hr>
    <div class="basicflex flexwrap"></div>
    <Colophon server:defer>
        <Colophon slot="fallback" />
    </Colophon>
</footer>

<style>
    .mobile-search__btn, .navbar__burger, .mobile-search__top--input, .navbar__menu-item, .navbar__slide-down, .theme__hacker .navbar__menu-item, .theme__hacker .navbar__slide-down {
        background-color: transparent !important;
    }
    .theme__hacker .search,
    .theme__hacker .breadcrumb {
        background-color: rgba(37, 37, 38, 0.9) !important;
        -webkit-backdrop-filter: blur(4px) saturate(1.5) !important;
        backdrop-filter: blur(4px) saturate(1.5) !important;
    }
    .theme__hacker .search .input {
        background-color: transparent !important;
    }
    .theme__hacker .footer {
        position: relative !important;
    }
    .theme__hacker .footer .loona {
        content: '' !important;
        position: absolute !important;
        right: 0 !important;
        bottom: 100% !important;
        width: auto !important;
        height: 72px !important;
        aspect-ratio: 43/64 !important;
        z-index: 9 !important;
        pointer-events: none !important;
    }
    .summary-blur__image {
        -webkit-filter: unset !important;
        filter: unset !important;
    }
    @media screen and (max-width: 720px) {
        .wp-block-image img {
            width: 100% !important;
            height: auto !important;
        }
        .alignleft,
        .alignright {
            margin-left: auto !important;
            margin-right: auto !important;
            float: none !important;
        }
    }
    .dropdown-content {
        width: max-content;
    }
    .dropdown-content span {
        cursor: pointer;
    }
    .dropdown-content small {
        font-size: 0.75rem;
        padding: 0 0.5rem;
    }
</style>

<script src="https://assets.cross.fm/assets/js/footer.min.js" defer is:inline></script>

<style>
    .search-open {
        overflow: hidden !important;
    }
    .alignleft {
        float: left;
        margin-right: 1rem;
    }
    .alignright {
        float: right;
        margin-left: 1rem;
    }
    .avatar__wrapper .status {
        display: none !important;
    }

</style>

<div class="scanlines"></div>