---
import CollectionSelector from "../../../components/bookmarks/Selector.jsx";
import AboutSelector from "../../../components/AboutSelector.jsx";
import Bookmarks from "../../../components/bookmarks/Bookmarks.jsx";
import Sidebar from "../../../components/Sidebar.astro";
import MainLayout from "../../../layouts/MainLayout.astro";
import Icon from "../../../components/Icon.astro";

// export const prerender = false;

Astro.response.headers.set('Cache-Control','max-age=600, must-revalidate');

---

<MainLayout title='Bookshelf – CROSS'>
    <style is:inline>
        #select-collection {
            width: var(--width, 96px);
            padding-inline: 0;
            font-size: inherit;
            font-family: inherit;
            color: #bdbdbd;
            text-align: right;
            background: transparent;
            border: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: text;
        }

        .is-active .icon {
            color: #bdbdbd;
            margin-left: 2px;
        }

        .react-tweet-theme {
            width: 100% !important;
            max-width: 100% !important;
        }
    </style>
    <div class="page__wrapper lmr">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ol>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About Me</a>
                </li>
                <li>
                    <span>
                        <AboutSelector about={false} server:defer client:load />
                        <Icon name="caret-down" size={12} />
                    </span>
                </li>
                <li class="is-active hash">
                    <span>
                        <CollectionSelector server:defer client:load />
                        <Icon name="caret-down" size={12} />
                    </span>
                </li>
            </ol>
        </nav>
        <section class="page main">
            <div class="summary__container" data-display="block">
                <h2 class="single__title">
                    Bookmarks
                </h2>
                <Bookmarks server:defer client:load />
            </div>
        </section>
    </div>
    <Sidebar />
</MainLayout>
