---
import "../styles/global.css";
import "../styles/app.css";
import "../styles/bookmarks.css";
import "react-loading-skeleton/dist/skeleton.css";
import SiteNav from "../components/SiteNav.astro";
import SiteFooter from "../components/SiteFooter.astro";
import Sprite from "../components/Sprite.astro";
import { getContent, getHead } from "cross:content";

const head = await getHead(Astro.url.pathname);
const primaryMenu = await getContent('navigation');
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="generator" content={Astro.generator} />
	<link
		rel="alternate"
		type="application/rss+xml"
		title="CROSS’s Blog"
		href={`${Astro.site}feed.xml`}
	/>
	<link rel="preconnect" href="https://images.cross.fm" />
	<link rel="dns-prefetch" href="https://images.cross.fm" />
	<link rel="preconnect" href="https://cross.fm" />
	<link rel="dns-prefetch" href="https://cross.fm" />

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#070A07">
	<link href="https://github.com/davidmatthewcoleman" rel="me">

	<Fragment set:html={head} />

	<script src="/assets/js/fuse.min.js" defer is:inline/>
	<script src="/assets/js/enquire.min.js" defer is:inline/>
	<script src="/assets/js/lazysizes.min.js" defer is:inline/>
	<script src="/assets/js/helper/getParents.min.js" defer is:inline/>
	<script src="/assets/js/helper/fadeinout.min.js" defer is:inline/>
	<script src="/assets/js/helper/closest.min.js" defer is:inline/>

	<script src="/assets/js/clipboard.min.js" defer is:inline/>
	<script src="/assets/js/helper/prev.min.js" defer is:inline/>
	<script src="/assets/js/helper/prop.min.js" defer is:inline/>

	<script src="/assets/js/swipe.min.js" defer is:inline/>
	<script src="/assets/js/micromodal.min.js" defer is:inline/>
	<script src="/assets/js/smooth-scroll.polyfills.min.js" defer is:inline/>
	<script src="/assets/js/fitty.min.js" defer is:inline/>

	<script src="/assets/js/popper.min.js" defer is:inline/>
	<script src="/assets/js/tippy.min.js" defer is:inline/>

	<script src="/assets/js/header.min.js" defer is:inline/>
</head>
<body id="root" class="theme__hacker navbar--show" data-theme="cross">
<script>
	document.addEventListener('DOMContentLoaded', function() {
		const container = document.body;

		// Function to load the theme from localStorage and set the data-theme attribute and active class
		function loadTheme() {
			const currentTheme = localStorage.getItem('theme');
			if (currentTheme) {
				container.setAttribute('data-theme', currentTheme);
			}
		}

		// Load the theme on page load
		loadTheme();
	});
</script>
<div id="container">
	<div class="wrapper">
		<SiteNav menu={primaryMenu}/>
		<main class="main inner" data-sidebar-position="right">
			<slot/>
		</main>
		<SiteFooter/>
	</div>
</div>
</body>
</html>
